body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 400px;
    padding: 33px;
    text-align: center;
    background-color: white;
    margin-left: 32%;
    margin-top: 5px;
}
input{
width: 270px;
padding: 8px;
border: 2px solid skyblue;
outline: none;
}
button{
    width: 60px;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 2px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
.text ul{
position: relative;
background-color: black;
color: white;
font-size: 20px;
text-align: left;
padding: 8px;
}
.text ul i{
    position: absolute;
    right: 10px;
    cursor: pointer;
}